html{
    cursor: url(hammer.png) 16 16,auto;
}

.moleh1{
    text-align: center;
}
.divscore{
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}
#mole {
    position: absolute;
  }

.reset{
    margin-left: 50px;
    font-size: 1.5rem;
}